html {
    height: 100%;
}

body {
    position: relative;
    background-color: #ffffff;
    color: rgb(4, 54, 58);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    width: 100%;
    height: 100%;
}
header section{
    margin-top: 5px;

}

header div{
    position: relative;
    display: inline-block;
    margin-left: 20px;
    left: 50%;
    color: black;
    font-size: 22px;
}
.logreg{
    padding-left: 50px;
    position: relative;
    top: 300px;
    left: 42%;
    width: 400px;
    height: 330px;
    border: medium solid rgb(127, 46, 233);
}
.logreg h1{
    color: black;
    font-size: 36px;
    margin-left: 30px;
}

.logreg label{
    color: black;
    font-size: 20px;
}

.logreg input{
    width: 200px;
    height: 30px;
    margin-top: 10px;
}

.button_user{
    appearance: button;
    backface-visibility: hidden;
    background-color: #9e40f5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    width: 300px;
    touch-action: manipulation;
}
  
.button_user:disabled {
    cursor: default;
}
  
.button_user:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

 
.button_header{
    appearance: button;
    backface-visibility: hidden;
    background-color: #9e40f5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    width: 180px;
    touch-action: manipulation;
}
  
.button_header:disabled {
    cursor: default;
}
  
.button_header:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.profile{
    position: relative;
    top: 300px;
    left: 40%;
    width: 600px;
    height: 600px;
    border: medium solid rgb(127, 46, 233);
    align-items: center;
}
.profile-content{
    margin-left: 25%;
    color: black;
}
.profile-content div{
    font-size: 24px;
}
.profile img{
    width: 200px;
    height: 150px;
    margin-left: 30px;
}
.profile .button_user{
    height: 60px;
    margin-left: 150px;
    font-size: 18px;
}

.main-page{
    position: relative;
    width: 99%;
    height: 1020px;
    border: medium solid rgb(127, 46, 233);
    align-items: center;
    color: rgb(166, 35, 218);
    margin-top: 20px;
    margin-left: 20px;
}
.main-page #welcome{
    font-size: 54px;
    position: relative;
    margin-left: 28%;
    margin-top: 180px;
}

.main-page-content{
    font-size: 26px;
    position: relative;
    margin-left: 29%;
    margin-top: 40px;
    width: 1000px;
    text-align: justify;
}

#main_register{
    position: relative;
    margin-left: 42%;
    margin-top: 100px;
    width: 300px;
    height: 100px;
    font-size: 32px;
}

.container{
    position: relative;
    margin-top: 200px;
}
.search-results-list{
    position: relative;
    display: flex;
    flex-direction: row;
    row-gap: 100px;
}
.search-results-list img{
    width: 300px;
    height: 200px;
}

.search-result-item{
    position: relative;
    margin-left: 50px;
    width: 500px;
    height: 700px;
    border: medium solid rgb(127, 46, 233);
    padding-left: 200px;
    padding-top: 30px;
    color:#9e40f5;
    font-size: 24px;

}
.container h1{
    position: relative;
    margin-left: 48%;
    bottom: 100px;
    font-size: 48px;
    color:#9e40f5;
}

.container li{ 
    list-style-type: none;
}

.pagination{
    color: black;
    font-size: 24px;
    position: relative;
    margin-left: 50%;
}
#search_result{
    position: relative;
    margin-left: 41%;
    bottom: 100px;
    font-size: 48px;
    color:#9e40f5;
}


#step2{
    display: none;
}
#step3{
    display: none;
}
#step4{
    display: none;
}


