{% extends "base.html" %}

{% block header %}
    <section>
        <div><form action="/rgz/profile"><button class="button_header" type="submit">Профиль</button></form></div>
        <div><form action="/rgz/glav"><button class="button_header" type="submit">Знакомства</button></form></div>
        <div><form action="/rgz/login"><button class="button_header" type="submit">Логин</button></form></div>
        <div><form action="/rgz/register"><button class="button_header" type="submit">Регистрация</button></form></div>
        <div><form action="/rgz/logout"><button class="button_header" type="submit">Выйти</button></form></div>
    </section>
{% endblock %}

{% block main%}
    <div class="profile">
        <form method="post" enctype="multipart/form-data">
            <div class="profile-content">
                <h1>Твой профиль:</h1>
                <div>
                    <label for="file">Выберите изображения для загрузки</label>
                    <input type="file" name="file" id="file">
                </div>
                <div class="input_label">
                    <input type="text" name="name" placeholder="Имя">
                    <label for="username">Имя</label>
                </div>
                <label for="gender">Ваш пол:</label>
                <select id="gender" name="gender">
                    <option value="male">Мужской</option>
                    <option value="female">Женский</option>
                </select>
                <br>
                <label for="partner_gender">Предпочитаемый пол партнера:</label>
                <select id="partner_gender" name="partner_gender">
                    <option value="male">Мужской</option>
                    <option value="female">Женский</option>
                    <option value="other">Любой</option>
                </select>
                <br>
                <label for="age">Ваш возраст</label>
                    <input type="text" name="age" placeholder="Возраст">
                </select>
                <div>
                    <label for="description">Описание о себе:</label><br>
                    <textarea id="description" name="description" rows="4" cols="50"></textarea>
                </div>
                <div>
                    <label for="hide_profile">Скрыть профиль: </label>
                    <select id="hide_profile" name="hide_profile">
                    <option value="False">Показать</option>
                    <option value="True">Скрыть</option>
                </div>
                <input type="submit" value="Далее">
            </div>
        </form>
    </div>
{% endblock %}